@model IEnumerable<WebApp.Models.Cat>
@{
	ViewData["Title"] = "Every Cat";
}

<div class="row my-4">
	@foreach(var cat in Model)
	{
		<div class="col-4 mb-4">
			<div class="card cat-card">
				<a class="a-cleanup" asp-controller="Cat" asp-action="Details" asp-route-id="@cat.Id">
					<img src="@cat.ImageUrl" class="card-img-top card-img-custom" style="max-height: 250px">
					<div class="card-body" style="height: 3em;">
						<h5 class="mb-3">Name: @cat.Name</h5>
					</div>
					<div class="card-text a-cleanup m-3">
						<div class="">Color: @cat.Color</div>
						<div class="">Age: @cat.Age</div>
						<div class="">Owner: @cat.OwnerName</div>
					</div>
				</a>
			</div>
		</div>
	}
</div>